 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <title>Open GradeBook</title>
  </head>
  <body>
    <div class="container">
    <h1>Signup for Open Gradebook</h1> 
    <h2>Lets Verify Your Email</h2>
    <h3><i>Rose-Hulman <b>Students</b> only . . .</i>></h3>
    <form action="/get_VerifyEmailForm" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <!-- <label for="major">Choose your major:</label> -->
      <!-- <select id="major" name="major">
          <option value="biochemistry">Biochemistry</option>
          <option value="biochem_mol_bio">Biochemistry and Molecular Biology</option>
          <option value="biology">Biology</option>
          <option value="biomathematics">Biomathematics</option>
          <option value="biomed_engineering">Biomedical Engineering</option>
          <option value="chemical_engineering">Chemical Engineering</option>
          <option value="chemistry">Chemistry</option>
          <option value="civil_engineering">Civil Engineering</option>
          <option value="computational_science">Computational Science</option>
          <option value="computer_engineering">Computer Engineering</option>
          <option value="computer_science">Computer Science</option>
          <option value="data_science">Data Science</option>
          <option value="electrical_engineering">Electrical Engineering</option>
          <option value="engineering_design">Engineering Design</option>
          <option value="international_studies">International Studies</option>
          <option value="mathematics">Mathematics</option>
          <option value="mechanical_engineering">Mechanical Engineering</option>
          <option value="optical_engineering">Optical Engineering</option>
          <option value="physics">Physics</option>
          <option value="software_engineering">Software Engineering</option>
      </select> -->
      <input type="submit" value="Verify Email">
    </form>
    </div>
  </body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>