<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/><!-- title of the page -->
    
    <title>2023-24 Course Catalog | Rose-Hulman</title>
    
    
      
    <!-- include styles -->
    <link href="../../../assets/styles/index-refresh.css" rel="stylesheet"/>
    <link href="../../../assets/styles/catalog-index-refresh.css" rel="stylesheet"/>
    <link href="../../../assets/styles/secondary-hh.css" rel="stylesheet"/>
    <!-- Adobe Fonts -->
	<link href="https://use.typekit.net/ysr0azu.css" rel="stylesheet"/>
    <!-- favicons -->
	<link href="https://www.rose-hulman.edu/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
	<link href="https://www.rose-hulman.edu/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
	<link href="https://www.rose-hulman.edu/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
	<link href="https://www.rose-hulman.edu/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
	<link href="https://www.rose-hulman.edu/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
	<link href="https://www.rose-hulman.edu/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
	<link href="https://www.rose-hulman.edu/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
	<link href="https://www.rose-hulman.edu/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
	<link href="https://www.rose-hulman.edu/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
	<link href="https://www.rose-hulman.edu/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
	<link href="https://www.rose-hulman.edu/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
	<link href="https://www.rose-hulman.edu/https://www.rose-hulman.edu/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
	<link href="https://www.rose-hulman.edu/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
	<link href="https://www.rose-hulman.edu/manifest.json" rel="manifest"/>
     <script>
        var displayFeed = false;
    </script>
    <!-- Load scripts via reqire.js  catalog head files only -->
    <script src="../../../assets/scripts/config.js"></script>
    <script src="../../../assets/scripts/libs/require/require.js"></script>
    <script>
        require.config({ baseUrl:  "/assets/scripts/"} );

        require(['jquery', 'modules/gcse', 'modules/search-placeholder', 'modules/utils', 'modules/custom.ui', 'libs/jquery/paginga.jquery'],
            function ($, gcse, sp, utils, ui, paga) {
            ui();
            if ($('#___gcse_0').length) {
                sp.buildCustomLabel();
            };
            $(".paginate").paginga({
                
            });
        });
        require(['jquery', 'domReady'], function ($, domReady) {
              domReady(function () {
                $('.catalog-default #courses').css('display','block');
                $('.catalog-default .spinner').css('display','none');
            });
        });
    </script>
  

    <script>



var jsonFeed = "index.json";


</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
<script src="../../../assets/scripts/dirPagination.js"></script>
<script src="../../../assets/scripts/catalog-search.js"></script>


    



<script>
    var displaySocialBlock = false;

    var displayFeed = false;
    var feedNames = [];
</script>
    </head>
    <body>
        <noscript>Javascript must be enabled for the correct page display</noscript>
        <!-- Page starts here -->
        
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WZCJP3" style="display:none;visibility:hidden" title="Google Tag Manager" width="0"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="page page-wide-tier catalog page-refresh">
            <a class="skip hide-for-screen-reader" href="#main">Skip to content</a>

            <!-- Header of the page -->
            


    <script>
        var request = new XMLHttpRequest();
        
        request.open('GET', '../../../_includes/header-new.html', true);
        
        request.onload = function() {
          if (request.status == 200) {
            var resp = request.responseText;
        
            document.querySelector('div.page').insertAdjacentHTML('afterbegin', resp);
    
        	let renderSearchElement = function() {
        	    google.search.cse.element.render(
        	        {
            	        div: "header-search",
            	        tag: "searchbox"
        	        });
            };
            
            let myCallback = function() {
            if (document.readyState == 'complete') {
                    renderSearchElement();
                } else {
                    google.setOnLoadCallback(renderSearchElement, true);
                }
            };
                window.__gcse = {
                    callback: myCallback
                };
          }
        };
       request.send();
    </script>




			
<div class="region tier-header-region">
    <div class="region-holder">
                                     
                    <script>
                        let element = document.getElementsByClassName("page")[0];
                        element.classList.add("no-flyout");
                    </script>
                
                        
            <div class="tier-header tier-fourth">
            <div class="tier-header-wrap">
                <!-- tier-header-img -->
                <div class="tier-header-img " style="background-image:url('../../../assets/images/overlay-images/img-white-triangle.jpg');">
                   <img alt="White Background with Triangle Pattern" src="../../../assets/images/overlay-images/img-white-triangle.jpg"/> 
                </div>
                <div class="tier-header-holder">
                    <div class="tier-header-frame">
                        <div class="tier-header-content">
                            <div class="tier-header-title-wrapper">
                                <h1 class="tier-header-title">2023-24 Course Catalog</h1>
                            </div>
                                                    </div>
                    </div>
                </div>
                <!-- breadcrumbs -->
                <div class="breadcrumb">
                            <ul> 
        <li><a href="../../../index.html"><span class="icon-home"><span class="hide-for-screen-reader">Home</span></span></a></li>
                                    
                                                                                <li> <a href="../../index.html">Academics</a></li>
                                    
                                    
                                                    
                                    
                                                                                <li> <a href="index.html">2023-2024 Course Catalog</a></li>
                                    
            </ul> 
                </div>
            </div>
            
                                        <!-- in this section -->
    <div class="in-this-section">
        <div class="in-this-section-opener">
            <strong class="in-this-section-opener-text">In this section</strong>
            <span class="in-this-section-opener-icon">
                <span class="icon-plus"><span class="hide-for-screen-reader">Open</span></span>
                <span class="icon-minus"><span class="hide-for-screen-reader">Close</span></span>
            </span>
        </div>
        <div class="in-this-section-content two-set">
            <div class="in-this-section-content-holder">
                <div class="container-fluid">
                    <div class="row">
                                            <div class="col-md-6">
                            <div class="in-this-section-content-list">
                                                            <h3>Course Catalog 2023-24</h3>
                                                        <ul>
                                                                                                                                <li><a class="anchor" href="../../../campus-life/student-services/registrar/rules-and-procedures/credit-by-examination.html">Advanced Placement</a></li>
                                                                                                                                <li><a class="anchor" href="course-descriptions.html">Course Descriptions</a></li>
                                                                                                                                <li><a class="anchor" href="../../degrees-and-programs/minors-and-certificates.html">Minors and Certificates</a></li>
                                                                                                                                <li><a class="anchor" href="multidisciplinary-minors.html">Multidisciplinary Minors</a></li>
                                                        </ul>
                            </div>
                        </div>
                                            <div class="col-md-6">
                            <div class="in-this-section-content-list">
                                                            <h3>Previous Course Catalogs</h3>
                                                        <ul>
                                                                                                                                <li><a class="anchor" href="../2022-2023/index.html">2022-23 Course Catalog</a></li>
                                                                                                                                <li><a class="anchor" href="../2021-2022/index.html">2021-22 Course Catalog</a></li>
                                                                                                                                <li><a class="anchor" href="../2020-2021/index.html">2020-21 Course Catalog</a></li>
                                                                                                                                <li><a class="anchor" href="../2019-2020/index.html">2019-20 Course Catalog</a></li>
                                                                                                                                <li><a class="anchor" href="../2018-2019/index.html">2018-19 Course Catalog</a></li>
                                                                                                                                <li><a class="anchor" href="../2017-2018/index.html">2017-18 Course Catalog</a></li>
                                                                                                                                <li><a class="anchor" href="../2016-2017/index.html">2016-17 Course Catalog</a></li>
                                                                                                                                                                                                        <li><a class="anchor" href="../../_assets/_archived-catalog-pdfs/2015-2016/2015-2016.pdf">2015-16 Course Catalog</a></li>
                                                                                                                                                                                                        <li><a class="anchor" href="../../_assets/_archived-catalog-pdfs/2014-2015/2014-2015.pdf">2014-15 Course Catalog</a></li>
                                                                                                                                                                                                        <li><a class="anchor" href="../../_assets/_archived-catalog-pdfs/2013-2014/2013-2014.pdf">2013-14 Course Catalog</a></li>
                                                                                                                                                                                                        <li><a class="anchor" href="../../_assets/_archived-catalog-pdfs/2012-2013/2012-2013.pdf">2012-13 Course Catalog</a></li>
                                                                                                                                                                                                        <li><a class="anchor" href="../../_assets/_archived-catalog-pdfs/2011-2012/2011-2012.pdf">2011-12 Course Catalog</a></li>
                                                                                                                                                                                                        <li><a class="anchor" href="../../_assets/_archived-catalog-pdfs/2010-2011/2010-2011.pdf">2010-11 Course Catalog</a></li>
                                                                                                                                                                                                        <li><a class="anchor" href="../../_assets/_archived-catalog-pdfs/2009-2010/2009-2010.pdf">2009-10 Course Catalog</a></li>
                                                        </ul>
                            </div>
                        </div>
                                        </div>
                </div>
            </div>
        </div>
     
    </div>

                       
            </div>
            
    </div>
</div>


    










<!-- Main area of the page -->
            <main class="main" id="main">
                <!-- "Content side" area -->
                <div class="content-side">
                    



     <div class="container">
        <div class="row" ng-app="courseSearch" ng-controller="catalogListing">
            <div class="catalog-header col-xs-12">
                <h2>Academic Catalog</h2>
                <div class="program-link-mobile">
                <a href="#programs-anchor">Programs of Study</a>
                <a href="#course-descriptions-anchor">Course Descriptions</a>
                </div>
                <div class="col-xs-12 menu-dropdown">
                <div class="col-xs-12 col-md-8 col-lg-8">
                    <label for="courseSubjects">Search by Subject:</label>
                    <select class="angularFilter" id="courseSubjects" ng-change="changeHandler()" ng-model="subjectSelect" ng-options="subject for subject in allSubjects">
                      <option value="">All Subjects</option>
                    </select>
                    <select aria-label="Filter Courses" class="angularFilter" ng-change="changeHandler()" ng-model="courseSelect" ng-options="course.num for course in courses | filter : courseFilter" title="Filter Courses">
                      <option value="">All Courses</option>
                    </select>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4"> 
                        <label for="courseTextSearch">Course Search:</label>
                        <input class="text-search" id="courseTextSearch" name="query" ng-model="courseTextSearch" placeholder="Search by keywords" type="text" value=""/> 
                    </div>
                    <div class="gradStudiesCheckbox"> 
                        <label for="gradStudiesEligible">Graduate Studies Eligible</label>
                        <input class="checkbox" id="gradStudies" name="gradcheck" ng-click="gradStudiesEligible()" ng-model="gradStudies" type="checkbox" value=""/> 
                    </div> 
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8 catalog-default">
                                <div id="search-results">
                    <h3>Courses</h3>
                                        <p ng-show="!filteredCourses.length">No match found.</p>
                    <ul class="ng-cloak" id="courses">
                        <li current-page="pagination.current" dir-paginate="course in filteredCourses = (courses | filter : { num : courseSelect.num } | filter: gradStudiesEligible | filter : courseFilter | filter: courseTextSearch ) | itemsPerPage: pageSize">
                            <a href="{{ course.link }}" target="_blank" title="{{ course.path }} opens in a new window."><span class="abbrev">{{ course.num }}</span> {{ course.name }}</a>
                        </li>
                    </ul>
                </div>
                <div class="pagePagination">
                    <dir-pagination-controls direction-links="true" max-size="5"> </dir-pagination-controls>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 course-desc">
                <a id="course-descriptions-anchor"></a>
                <h3 class="desc-header">Course Descriptions</h3>
                <ul id="descriptions">
                                                                            <li><span class="desc_name"><a href="programs/Biochemistry/course-descriptions.html" target="_parent">Biochemistry</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Biology/course-descriptions.html" target="_parent">Biology</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Biomathematics/course-descriptions.html" target="_parent">Biomathematics</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Biomedical Engineering/course-descriptions.html" target="_parent">Biomedical Engineering</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Chemical Engineering/course-descriptions.html" target="_parent">Chemical Engineering</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Chemistry/course-descriptions.html" target="_parent">Chemistry</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Civil Engineering/course-descriptions.html" target="_parent">Civil Engineering</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/College and Life Skills/course-descriptions.html" target="_parent">College and Life Skills</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Computer Engineering/course-descriptions.html" target="_parent">Computer Engineering</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Computer Science/course-descriptions.html" target="_parent">Computer Science</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Electrical Engineering/course-descriptions.html" target="_parent">Electrical Engineering</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Engineering Design/course-descriptions.html" target="_parent">Engineering Design</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Engineering Management/course-descriptions.html" target="_parent">Engineering Management</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Engineering Mechanics/course-descriptions.html" target="_parent">Engineering Mechanics</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Engineering Physics/course-descriptions.html" target="_parent">Engineering Physics</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Engineering Science/course-descriptions.html" target="_parent">Engineering Science</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/English Second Language/course-descriptions.html" target="_parent">English Second Language</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Geology/course-descriptions.html" target="_parent">Geology</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Humanities, Social Sciences, and the Arts/course-descriptions.html" target="_parent">Humanities, Social Sciences, and the Arts</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Mathematics/course-descriptions.html" target="_parent">Mathematics</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Mechanical Engineering/course-descriptions.html" target="_parent">Mechanical Engineering</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Multi-Disciplinary Studies/course-descriptions.html" target="_parent">Multi-Disciplinary Studies</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Optical Engineering/course-descriptions.html" target="_parent">Optical Engineering</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Physics/course-descriptions.html" target="_parent">Physics</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/ROTC-Air Force/course-descriptions.html" target="_parent">ROTC-Air Force</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/ROTC-Army/course-descriptions.html" target="_parent">ROTC-Army</a></span></li> 
                                                                            <li><span class="desc_name"><a href="programs/Software Engineering/course-descriptions.html" target="_parent">Software Engineering</a></span></li> 
                                </ul>
            </div>
            </div> 
            <!-- Programs and Course Descriptions -->
            <div class="col-xs-12 col-md-4 col-lg-4 right-col">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <a id="programs-anchor"></a>
                        <h3 class="programs-head">Undergraduate Programs of Study</h3>
                        <ul id="programs">
                                                                                                                <li><span class="prog_name"><a href="programs/Biochemistry/index.html" target="_parent">Biochemistry</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="https://www.rose-hulman.edu/academics/course-catalog/current/programs/Biology/index.html#biochemistry-and-molecular-biology-sm" target="_parent">Biochemistry &amp; Molecular Biology (SMO)</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Biology/index.html" target="_parent">Biology</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Biomathematics/index.html" target="_parent">Biomathematics</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Biomedical Engineering/index.html" target="_parent">Biomedical Engineering</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Chemical Engineering/index.html" target="_parent">Chemical Engineering</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Chemistry/index.html" target="_parent">Chemistry</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Civil Engineering/index.html" target="_parent">Civil Engineering</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="https://www.rose-hulman.edu/academics/course-catalog/current/programs/Mathematics/index.html#computational-science-smo" target="_parent">Computational Science Major (SMO)</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Computer Engineering/index.html" target="_parent">Computer Engineering</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Computer Science/index.html" target="_parent">Computer Science</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Data-Science-SMO/index.html" target="_parent">Data Science (SMO)*</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Electrical Engineering/index.html" target="_parent">Electrical Engineering</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Engineering Design/index.html" target="_parent">Engineering Design</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Engineering Physics/index.html" target="_parent">Engineering Physics</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/International Computer Science/index.html" target="_parent">International Computer Science</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="https://www.rose-hulman.edu/academics/course-catalog/current/programs/Humanities,%20Social%20Sciences,%20and%20the%20Arts/course-descriptions.html#intl-studies" target="_parent">International Studies Major (SMO)</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Mathematics/index.html" target="_parent">Mathematics</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Mechanical Engineering/index.html" target="_parent">Mechanical Engineering</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Optical Engineering/index.html" target="_parent">Optical Engineering</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Physics/index.html" target="_parent">Physics</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Pre-Professional/index.html" target="_parent">Pre-Professional Programs &amp; Advising</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/ROTC-Air Force/index.html" target="_parent">ROTC: Air Force</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/ROTC-Army/index.html" target="_parent">ROTC: Army</a></span></li>
                                                                                                                    <li><span class="prog_name"><a href="programs/Software Engineering/index.html" target="_parent">Software Engineering</a></span></li>
                                                        <li><span class="prog_name"><a href="./programs/General Education/index.html">General Education</a></span></li>
                        </ul>
                        <p>*(SMO) = Second Major Only</p>
                                                                            <a id="grad-programs-anchor"></a>
                            <h3 class="programs-head">Graduate Programs of Study</h3>
                            <ul id="grad-programs">
                                                                                                                                                 <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/biomedical-engineering.html" target="_parent">Biomedical Engineering</a></span></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/chemical-engineering.html" target="_parent">Chemical Engineering </a></span></li>
                                                                                                                                                                                                                          <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/chemistry.html" target="_parent">Chemistry</a></span></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/civil-and-environmental-eng.html" target="_parent">Civil Engineering</a></span></li>
                                        <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/civil-and-environmental-eng.html#environmental" target="_parent">Environmental Engineering</a></span></li>
                                                                                                                                                                                                                          <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/electrical-and-computer-eng.html" target="_parent">Electrical Engineering</a></span></li>
                                        <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/electrical-and-computer-eng.html" target="_parent">Electrical &amp; Computer Engineering</a></span></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/engineering-management.html" target="_parent">Engineering Management</a></span></li>
                                                                                                                                                                                                                          <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/mechanical-engineering.html" target="_parent">Mechanical Engineering</a></span></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/optical-engineering.html" target="_parent">Optical Engineering</a></span></li>
                                                                                                                                                                                                                          <li><span class="prog_name"><a href="graduate-studies/graduate-studies-programs/program-requirements/software-engineering.html" target="_parent">Software Engineering </a></span></li>
                                                                                                                                                                                                                                                                            </ul>
                                            </div>
                </div>
            </div>
            <!-- course descriptions were here -->
        </div>
    </div>
                 
                </div>
            </main>
            <div class="virtual-tour">
				<a alt="Launch Experience" href="https://www.youvisit.com/#/vte/?data-platform=v&amp;data-link-type=immersive&amp;data-inst=62923&amp;data-loc=143593&amp;data-stopid=281915&amp;data-image-width=100%&amp;data-image-height=100%&amp;data-remove-prompts=7">Launch Root Quad</a>
			</div>
            <!-- Footer of the page -->
            



<footer class="footer">
    <div class="footer-container">
        <div class="container">
            <div class="flex-row">
                <div class="contact">
                    <div class="footer-logo">
                        <div class="logo-wrap">
                            <img alt="Rose-Hulman Institute of Technology" class="logo-r" src="https://www.rose-hulman.edu/assets/images/logo-footer.svg"/>
                            <img alt="Rose-Hulman Institute of Technology" class="logo-name" src="https://www.rose-hulman.edu/assets/images/rose-hulman-logo-v2.svg"/>
                        </div>
                        <div class="footer-logo-address">
                                                                                                                            <span>5500 Wabash Avenue</span>
                                                                                                                                <span>Terre Haute, IN 47803</span>
                                                                                                                                <a class="footer-phone-number" href="tel:(812) 877-1511"><span class="icon icon-phone"><span>(812) 877-1511</span></span></a>
                                                                                        <a class="footer-contact-us" href="https://www.rose-hulman.edu/about-us/get-to-know-rose-hulman/contact-RHIT.html"><span class="icon icon-mail1"><span>Contact Us</span></span></a>
                        </div>
                    </div>
                    <div class="social-container">
                        <ul class="social">
                            
                                                        
                                                        
                                                        
                            
                            
                            <li><a href="https://www.facebook.com/rosehulman" target="_blank" title="Facebook opens in a new window.">
                                <span class="icon icon-facebook2"><span class="hide-for-screen-reader">Facebook</span></span>
                            </a></li>
                            <li><a href="https://www.instagram.com/rosehulman/" target="_blank" title="Instagram opens in a new window.">
                                <span class="icon icon-instagram"><span class="hide-for-screen-reader">Instagram</span></span>
                            </a></li>
                             <li><a href="https://www.youtube.com/user/rosehulmaninstitute/videos" target="_blank" title="YouTube opens in a new window.">
                                <span class="icon icon-youtube-square"><span class="hide-for-screen-reader">YouTube</span></span>
                            </a></li>
                            <li><a class="footer-icon-twitter" href="https://twitter.com/rosehulman" target="_blank" title="Twitter opens in a new window.">
                                <span class="icon icon-twitter"><span class="hide-for-screen-reader">Twitter</span></span>
                            </a></li>
                            <li><a href="https://www.linkedin.com/school/rose-hulman-institute-of-technology/mycompany/" target="_blank" title="Linkedin opens in a new window.">
                                <span class="icon icon-linkedin"><span class="hide-for-screen-reader">Linkedin</span></span>
                            </a></li>
                            <li class="us-news-badge"><a href="https://www.usnews.com/best-colleges/rosehulman-institute-of-technology-1830/overall-rankings" target="_blank" title="US News Engineering Programs 2023-2024"><img alt="U.S. News Engineering Programs 2022-2023" src="../../../assets/images/US-News-EngineeringPrograms-2023-2024.png"/></a></li>
                            <li class="wsj-badge"><a href="https://www.wsj.com/rankings/college-rankings/best-colleges-2024" target="_blank" title="WSJ Americas's Best Colleges 2024"><img alt="The Wall Street Journal America's Best Colleges 2024" src="../../../assets/images/WSJ_Colleges2024_Logo_white.jpg"/></a></li>
                        </ul>
                    </div>
                </div>
           <!-- <div>
                   <ul class="footer-btns">
                        
                            <li><a class="btn btn-is-light" href="/campus-life/student-services/registrar/academic-calendars">Academic Calendar</a></li>
                        
                            <li><a class="btn btn-is-light" href="/academics/course-catalog/2021-2022/index">Catalog</a></li>
                        
                            <li><a class="btn btn-is-light" href="/academics/faculty/index">Directory</a></li>
                        
                            <li><a class="btn btn-is-light" href="/external-links/My Rose-Hulman">My Rose-Hulman</a></li>
                        
                            <li><a class="btn btn-is-light" href="/visit/maps-and-directions/index">Maps &amp; Directions</a></li>
                                            </ul>
                </div>  -->
                <div>
                    <div class="footer-block">
                        
                        <h3>Resources</h3>
                        <ul>
                            
                                <li><a href="../../../campus-life/student-services/registrar/academic-calendars.html">Academic Calendar</a></li>
                            
                                <li><a href="../2021-2022/index.html">Catalog</a></li>
                            
                                <li><a href="../../faculty/index.html">Directory</a></li>
                            
                                <li><a href="https://rosehulman.sharepoint.com/sites/MyRH">My Rose-Hulman</a></li>
                            
                                <li><a href="../../../visit/maps-and-directions/index.html">Maps &amp; Directions</a></li>
                                                    </ul>
                    </div>
                </div>
                <div>
                    <div class="footer-block">
                        
                        <h3>Quick Links</h3>
                        <ul>
                            
                                <li><a href="../../../admissions-and-aid/index.html">Admissions</a></li>
                            
                                <li><a href="../../../about-us/human-resources/index.html">Employment</a></li>
                            
                                <li><a href="../../../about-us/community-and-public-services/institutional-advancement/giving.html">Give</a></li>
                            
                                <li><a href="https://bookstore.rose-hulman.edu/home.aspx">Bookstore</a></li>
                            
                                <li><a href="../../learning-and-research-facilities/logan-library/index.html">Logan Library</a></li>
                            
                                <li><a href="../../../about-us/get-to-know-rose-hulman/contact-RHIT.html">Offices &amp; Services</a></li>
                            
                                <li><a href="http://athletics.rose-hulman.edu/landing/index">Athletics</a></li>
                            
                                <li><a href="../../../admissions-and-aid/financial-aid/cares-act.html">Cares Act</a></li>
                            
                                <li><a href="../../../admissions-and-aid/financial-aid/heerf-II.html">HEERF II</a></li>
                            
                                <li><a href="../../../about-us/community-and-public-services/health/index.html">COVID-19</a></li>
                            
                                <li><a href="../../academic-affairs/irpa/accreditation/index.html">Accreditation</a></li>
                                                    </ul>
                    </div>
                </div>
                <div>
                    <div class="footer-block">
                        
                        <h3>Information For</h3>
                        <ul>
                            
                                <li><a href="../../../admissions-and-aid/early-planning/index.html">Future Students</a></li>
                            
                                <li><a href="../../../admissions-and-aid/for-incoming-first-year-students/index.html">Incoming Students</a></li>
                            
                                <li><a href="https://rosehulman.sharepoint.com/sites/MyRH">Current Students</a></li>
                            
                                <li><a href="../../degrees-and-programs/graduate-studies/index.html">Graduate Students</a></li>
                            
                                <li><a href="../../../campus-life/student-affairs/parents-association.html">Parents</a></li>
                            
                                <li><a href="../../../alumni-and-friends/index.html">Alumni &amp; Friends</a></li>
                            
                                <li><a href="https://rosehulman.sharepoint.com/sites/Resources/SitePages/Home.aspx">Faculty &amp; Staff</a></li>
                            
                                <li><a href="../../../about-us/community-and-public-services/index.html">Community Members</a></li>
                            
                                <li><a href="../../../about-us/community-and-public-services/communications-and-marketing/media-center.html">Media</a></li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="footer-container is-compact">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 footer-additional-nav-wrap">
                        <p>© 2023 Rose-Hulman Institute of Technology</p>
                        <ul class="footer-additional-nav">
                                                            <li><a href="../../../privacy/index.html">Privacy</a></li>
                                                            <li><a href="../../../about-us/get-to-know-rose-hulman/web/index.html">Accessibility</a></li>
                                                            <li><a href="../../../about-us/human-resources/title-ix.html">Title IX</a></li>
                                                            <li><a href="../../../admissions-and-aid/financial-aid/financial-aid-basics/consumer-information.html">Consumer Information</a></li>
                                                            <li><a href="../../../about-us/community-and-public-services/emergency.html">Emergency</a></li>
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5756f4304186bd48"></script -->

         <a href="javascript:" id="return-to-top"><span class="icon-arrow-up2"><span class="return-top">Return to Top</span></span></a> 
        </div>
         <script async="true" src="https://live.clive.cloud/page-views/track/151"></script> 
        <script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js3"></script>
    </body>
</html>